/* theses styles are for the View high score button */
#View-HS {
    color: rebeccapurple;
    border: none;
    background-color: inherit;
    outline: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }

#View-HS:hover {
    color: thistle;
}
#View-HS:active {
    color: thistle;

}
/* these styles are for the welcome page header paragraph and button. */
h1 {
    margin-top: 2%;
    font-weight: bold    
}
p {
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
}
#start-quiz {
    color: white;
    background-color: rebeccapurple;
    border-color: rebeccapurple;
    border-radius: 8px;
    margin-top: 2%;
}
#start-quiz:hover {
    background-color: thistle;
    border-color: thistle;
} 

/* these styles are for the question and answer section. */
.question{
    font-size: 35px;
}
.answer{
    font-size: 10px;
} 

.answerChoices {
    color: white;
    background-color: rebeccapurple;
    border-color: rebeccapurple;
    border-radius: 8px;
    margin: 5px;
    display: block   
}
.answerChoices:hover {
    background-color: thistle;
    border-color: thistle;
}
.answerChoices:active {
    background-color: thistle;
    border-color: thistle;
}
.answerChoices:visited {
    background-color: thistle;
    border-color: thistle;
}
